<div class="container">
  <div class="row" >
    <div class="col-xs-12">
      <h3>first steps in angular </h3>
      <hr>
      <ol>
        <li>Create two new Components (manaully or with CLI) : WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <p>use external or internal templates and styles!</p>
      <p>feel free tocreate more compomemts nest them into each other or play around with different tpe of sellectors</p>
      <hr>
      <app-succes></app-succes>
      <app-warning></app-warning>
    </div>
  </div>
</div>
